doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  script(src="/javascripts/jquery.min.js")
  script(src="/javascripts/semantic.min.js")
  script(src="/javascripts/javascript.js")
